* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Work Sans", sans-serif;
}
:root {
  --color1: #F86F03;
  --color2: #fff;
  --color3: #534c64;
  --color4: #525FE1;
}
/* common classes or tags*/
span {
  color: var(--color1);
}
/* Header Section */
header {
  width: 100%;
  padding: 20px 220px;
  box-shadow: 0px 5px 5px rgba(175, 147, 147, 0.3);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 15px;
  font-size: 1.5rem;
  cursor: pointer;
}
.nav-right {
  display: flex;
  justify-content: space-around;
  gap: 40px;
  align-items: center;
  color: #3c354f;
  font-size: 1.2rem;
}
.nav-right a {
  text-decoration: none;
  color: #3c354f;
  padding: 8px 10px;
  background-color:transparent;
  border-radius: 30px;
}
.nav-right a:hover{
  color: var(--color1);
}
.nav-right .info:hover {
  padding: 7px 9px;
  border: 1px solid var(--color1);
  background-color: rgba(11, 2, 35, 0.1);
  border-radius: 30px;
}
.social {
  display: flex;
  justify-content: space-between;
  gap: 15px;
  align-items: center;
  padding: 10px 15px;
  background-color: rgba(11, 2, 35, 0.1);
  border-radius: 30px;
}
.social:hover {
  border: 2px solid var(--color1);
  padding: 8px 13px;
}
/* Banner Section */
.banner {
  background: url("../images/bannerBG.png");
  background-repeat: no-repeat;
  left: 0;
  padding: 0px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
}
.banner-content h2 {
  font-size: 3rem;
  font-weight: 600;
}
.banner-content h1 {
  font-size: 6rem;
  font-weight: 800;
  color: var(--color1);
}
.banner-content-info i {
  color: var(--color1);
}
.banner-content-info p {
  font-size: 1.5rem;
  color: var(--color3);
  font-weight: 500;
  margin-bottom: 20px;
}
.banner-btn {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}
.btn-1,
.btn-2,
.btn-3,
.btn-4 {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 25px;
  border-radius: 20px;
  border: hidden;
  cursor: pointer;
}
.btn-1,
.btn-3 {
  color: var(--color2);
  background-color: var(--color1);
}
.btn-2 {
  color: var(--color2);
  background-color: var(--color4);
}
.btn-1:hover,
.btn-3:hover {
  color: var(--color1);
  background: transparent;
  border: 2px solid var(--color1);
  padding: 8px 23px;
}
.btn-2:hover {
  color: var(--color4);
  background: transparent;
  border: 2px solid var(--color4);
  padding: 8px 23px;
}
.banner-image img {
  max-width: 580px;
}
/* Gamer section */
.gamer {
  width: 100%;
  padding: 50px 240px;
  background: linear-gradient(
    90deg,
    rgba(255, 66, 165, 0.03) 0%,
    rgba(255, 66, 165, 0.03) 100%
  );
  background-size: cover;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.gamer-content {
  text-align: right;
}
.gamer-content h1 {
  font-size: 3rem;
  font-weight: 700;
}
.gamer-content p {
  font-size: 1.5rem;
  color: var(--color3);
  margin: 20px 0px;
}
.gamer-content h4 {
  font-size: 1.7rem;
  color: var(--color3);
  margin-top: 20px;
}
.gamer-content h3 {
  font-size: 2rem;
  color: var(--color3);
}
.gamer-image img {
  max-width: 750px;
}
/* Online Section */
.online {
  padding: 50px 240px;
}
.online-content {
  text-align: center;
}
.online-content h1 {
  font-size: 3rem;
  font-weight: 700;
}
.online-content p {
  font-size: 1.5rem;
  color: var(--color3);
  margin: 20px 0px;
}
.online-games {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  justify-content: center;
}
.hover {
  width: 100%;
  position: relative;
}
.hover img {
  width: 100%;
  height: auto;
}
.hover:hover img {
  opacity: 0.3;
  transform: scale(1.03);
  transition: transform 1s ease-in-out;
}
.for-hover {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  color: var(--color1);
  font-size: 2rem;
  font-weight: 600;
  background: rgba(0, 0, 0, 0.1);
  opacity: 0;
  transform: scale(1.03);
  transition: transform 1s ease-in-out;;
  border: 5px solid var(--color1);
  border-radius: 20px;
  cursor: pointer;
}
.hover:hover .for-hover {
  opacity: 1;
}
.fa-circle-play {
  color: var(--color1);
  font-size: 4rem;
}
.game p {
  font-size: 1.2rem;
  color: var(--color3);
  margin-top: 10px;
}
/* Instant section */
.instant {
  padding: 50px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.instant-content {
  max-width: 400px;
  text-align: right;
  padding-bottom: 150px;
  margin-left: 150px;
}
.instant-content h1 {
  font-size: 3rem;
  font-weight: 700;
}
.instant-content p {
  font-size: 1.5rem;
  color: var(--color3);
}
.instant-image {
  position: relative;
}
.big-image1 img {
  max-width: 750px;
  padding-left: 170px;
}
.small-image1 img {
  max-width: 320px;
  position: relative;
  bottom: 250px;
}
/* Play games section */
.play-game {
  padding: 0px 240px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.play-game-content {
  max-width: 400px;
  text-align: left;
  padding-bottom: 150px;
}
.play-game-content h1 {
  font-size: 3rem;
  font-weight: 700;
}
.play-game-content p {
  font-size: 1.5rem;
  color: var(--color3);
}
.play-game-image {
  position: relative;
}
.big-image2 img {
  max-width: 750px;
}
.small-image2 img {
  max-width: 300px;
  position: relative;
  margin-left: 550px;
  bottom: 200px;
}
/* Career-section */
.career {
  padding-left: 240px;
  background: linear-gradient(90deg, #d73636 0%, #df7009 100%);
  background-size: contain;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.career-content {
  color: var(--color2);
  padding: 30px 0px;
}
.career-title {
  font-size: 3rem;
  font-weight: 700;
}
.career-description {
  font-size: 1.2rem;
  margin: 20px 0px;
}
.career-details {
  display: flex;
  justify-content: space-between;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 40px;
  margin-bottom: 30px;
}
.career-name {
  text-align: left;
}
.career-place {
  text-align: right;
}
.career-image img {
  max-width: 1000px;
}
.btn-4 {
  color: var(--color1);
  background-color: var(--color2);
  margin-bottom: 20px;
}
.btn-4:hover {
  color: var(--color2);
  background: transparent;
  border: 2px solid var(--color2);
  padding: 8px 23px;
}
/* Game Type Section */
.game-type {
  padding: 100px 240px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(90deg, rgba(255, 66, 165, 0.03) 0%, rgba(255, 66, 165, 0.03) 100%);

}
.type {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #0b0223;
  background-color: var(--color2);
  padding: 8px;
  border-radius: 50px;
}
.type:hover {
  color: var(--color1);
  border: 1px solid var(--color1);
  border-radius: 50px;
  padding: 7px;
  cursor: pointer;
  transform: scale(1.05);
  transition: transform 1s ease-in-out;
}
.type p {
  font-size: 1.3rem;
  font-weight: 600;
}
.type p:hover {
}
/* Footer Section */
footer {
  background-color: #0b0223;
  padding: 100px 0px;
}
.footer {
  font-size: 1rem;
}
.footer-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  color: var(--color2);
  font-size: 1rem;
  padding: 50px 400px;
  cursor: pointer;
}
.footer-icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 400px;
  font-size: 1.2rem;
}
.footer-icons a {
  color: var(--color2);
}
.footer-end {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  padding: 40px 400px;
  cursor: pointer;
}
.footer-copyright {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.6);
  text-align: center;
}
.hide {
  display: none;
}
/* Mobile Devices */
@media screen and (max-width: 576px) {
  header,
  .banner,
  .gamer,
  .online,
  .instant,
  .play-game,
  .career,
  .game-type,
  footer {
    padding: 20px;
  }
  .gamer,
  .online,
  .career
  {
    margin-top: 50px;
  }
  nav,
  .nav-right,
  .play-game,
  .instant,
  .career {
    flex-direction: column;
  }
  .nav-right,
  .footer-content,
  .footer-icons,
  .footer-end {
    gap: 20px;
  }
  .banner,
  .gamer-content,
  .instant-content,
  .play-game-content,
  .career,
  .career-description,
  .btn-4 {
    text-align: center;
    margin: 0px;
  }
  .banner,
  .gamer {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .banner-image img,
  .gamer-image img,
  .career-image img {
    width: 100%;
  }
  .banner-image img {
    height: auto;
  }
  .banner {
    background-position: bottom;
    gap: 50px;
  }
  .banner-content h1 {
    font-size: 4rem;
  }
  .banner-content h2,
  .gamer-content h1,
  .online-content h1,
  .instant-content h1,
  .play-game-content h1{
    font-size: 2.3rem;
  }
  .btn-1,
  .btn-2,
  .btn-3,
  .btn-4 {
    font-size: 1rem;
  }
  .banner-content p {
    font-size: 1.2rem;
    text-align: left;
  }
  .gamer-content p,
  .online-content p,
  .instant-content p,
  .play-game-content p{
    font-size: 1.2rem;
  }
  .gamer-content h4 {
    font-size: 1.5rem;
  }
  .gamer-content h3 {
    font-size: 1.7rem;
  }
  .online-games {
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;
  }
  .game{
    margin: 0px 30px;
  }
  .game p{
    font-size: 1rem;
  }
  .instant-content,
  .play-game-content{
    padding-bottom: 30px;
  }
  .instant-content p,
  .play-game-content p {
    padding-top: 30px;
  }
  .big-image1 img {
    width: 300px;
    padding-left: 60px;
  }
  .small-image1 img {
    width: 125px;
    position: relative;
    bottom: 105px;
  }
  .big-image2 img {
    width: 250px;
    margin-right: 75px;
  }
  .small-image2 img {
    width: 115px;
    position: relative;
    margin-left: 190px;
    bottom: 90px;
  }
  .career-description{
    margin: 20px 0px;
    font-size: 1rem;
  }
  .career-details {
    font-size: .8rem;
  }
  /* Game type Section */
  .game-type {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    padding: 50px ;
  }
  .type {
    gap: 5px;
  }
  .type img {
    width: 25%;
  }
  .type p {
    font-size: 0.7em;
    font-weight: 400;
  }
  footer{
    padding-top: 50px;
  }
  footer .logo,
  .footer-end,
  .footer-content,
  .footer-copyright{
    padding: 10px 50px;
  }
  .footer-icons {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-content: center;
    padding: 10px 80px;
  }
}
/* Medium devices */
@media screen and (min-width: 577px) and (max-width: 992px) {
  header,
  .banner,
  .gamer,
  .online,
  .instant,
  .play-game,
  .career,
  .game-type,
  footer {
    padding: 50px;
  }
  nav,
  .nav-right,
  .play-game,
  .instant,
  .career {
    flex-direction: column;
  }
  .nav-right,
  .footer-content,
  .footer-icons,
  .footer-end {
    gap: 20px;
  }
  .banner,
  .gamer {
    flex-direction: column-reverse;
  }
  .banner-image img,
  .gamer-image img,
  .career-image img {
    width: 100%;
  }

  .banner {
    background-position: bottom center;
    gap: 300px;
    background-size: 100% 50%;
  }
  .gamer-content,
  .instant-content,
  .play-game-content {
    text-align: center;
    margin: 0px;
    padding: 0px;
  }
  .online-games {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
  .big-image1 img {
    width: 500px;
    padding-left: 100px;
  }
  .small-image1 img {
    width: 230px;
    position: relative;
    bottom: 180px;
  }
  .big-image2 img {
    width: 500px;
    margin-right: 110px;
  }
  .small-image2 img {
    width: 240px;
    position: relative;
    margin-left: 380px;
    bottom: 180px;
  }
  .instant-content p,
  .play-game-content p {
    padding: 30px 0px;
  }
  .type {
    gap: 10px;
    padding: 5px;
  }
  .type:hover{
    padding: 4px;
  }
  .type p {
    font-size: 1em;
    font-weight: 500;
  }
  .footer-end,
  .footer-content {
    padding: 20px 80px;
  }
  .footer-icons {
    padding: 10px 130px;
  }
}
/* Semi-large Devices */
@media screen and (min-width: 993px) and (max-width: 1200px) {
  header,
  .banner,
  .gamer,
  .online,
  .instant,
  .play-game,
  .career,
  .game-type,
  footer {
    padding: 50px;
  }

  .instant,
  .career {
    flex-direction: column;
  }
  .nav-right,
  .footer-content,
  .footer-icons,
  .footer-end {
    gap: 30px;
  }
  .banner {
    background-size: 50% 100%;
  }

  .banner-image img,
  .gamer-image img,
  .career-image img {
    width: 100%;
  }
  .gamer-content {
    width: 40%;
  }
  .instant-content,
  .play-game-content {
    text-align: center;
  }
  .instant-content,
  .play-game-content {
    max-width: 500px;
    padding-bottom: 50px;
    margin: 0px;
  }
  .big-image1 img {
    width: 600px;
    padding-left: 150px;
  }
  .small-image1 img {
    width: 280px;
    position: relative;
    bottom: 180px;
  }
  .big-image2 img {
    width: 500px;
    margin-right: 150px;
  }
  .small-image2 img {
    width: 250px;
    position: relative;
    margin-left: 400px;
    bottom: 200px;
  }
  .instant-content p,
  .play-game-content p {
    padding-top: 30px;
  }
  .type {
    gap: 20px;
  }
  .type p {
    font-size: 1em;
    font-weight: 500;
  }
  .footer-end,
  .footer-content {
    padding: 20px 70px;
  }
}
/* Large Devices */
@media screen and (min-width: 1201px) and (max-width: 1750px) {
  .banner,
  .gamer,
  .online,
  .instant,
  .play-game,
  .career,
  .game-type,
  footer {
    padding: 100px;
  }
  header {
    padding: 30px 100px;
  }
  .instant-content {
    margin-left: 50px;
  }
  .play-game-content {
    margin-right: 50px;
  }
}
